#projects{
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 30px;
    overflow:  hidden;
}

.slider{
    width: 90%;
    height: 300px;
    display: flex;
    align-items: center;
    overflow-x: scroll;
    overflow-y: hidden;
    gap: 30px;
    scrollbar-width: none;
    padding: 20px;
}

.slider a{
    text-decoration: none;
    width: 90%;
    /* height: 300px; */
    scrollbar-width: none;
    padding: 20px;



}

#para{
    font-size: 5vmax;
    background: linear-gradient(to right, rgb(96, 42, 181), white);
    background-clip: text;
    color: transparent;
    text-align: center;
}